In [7]:
import pandas as pd
from sklearn.datasets import load_iris
iris=load_iris()

In [10]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [11]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [14]:
df=pd.DataFrame(iris.data)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [20]:
df['target']=iris.target
df[50:60]

      0    1    2    3  target
50  7.0  3.2  4.7  1.4       1
51  6.4  3.2  4.5  1.5       1
52  6.9  3.1  4.9  1.5       1
53  5.5  2.3  4.0  1.3       1
54  6.5  2.8  4.6  1.5       1
55  5.7  2.8  4.5  1.3       1
56  6.3  3.3  4.7  1.6       1
57  4.9  2.4  3.3  1.0       1
58  6.6  2.9  4.6  1.3       1
59  5.2  2.7  3.9  1.4       1

In [22]:
X=df.drop('target',axis='columns')
y=df.target

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [24]:
X_test

       0    1    2    3
66   5.6  3.0  4.5  1.5
18   5.7  3.8  1.7  0.3
104  6.5  3.0  5.8  2.2
54   6.5  2.8  4.6  1.5
39   5.1  3.4  1.5  0.2
96   5.7  2.9  4.2  1.3
102  7.1  3.0  5.9  2.1
81   5.5  2.4  3.7  1.0
7    5.0  3.4  1.5  0.2
71   6.1  2.8  4.0  1.3
28   5.2  3.4  1.4  0.2
12   4.8  3.0  1.4  0.1
110  6.5  3.2  5.1  2.0
67   5.8  2.7  4.1  1.0
147  6.5  3.0  5.2  2.0
139  6.9  3.1  5.4  2.1
145  6.7  3.0  5.2  2.3
14   5.8  4.0  1.2  0.2
58   6.6  2.9  4.6  1.3
118  7.7  2.6  6.9  2.3
116  6.5  3.0  5.5  1.8
80   5.5  2.4  3.8  1.1
72   6.3  2.5  4.9  1.5
57   4.9  2.4  3.3  1.0
122  7.7  2.8  6.7  2.0
88   5.6  3.0  4.1  1.3
148  6.2  3.4  5.4  2.3
113  5.7  2.5  5.0  2.0
115  6.4  3.2  5.3  2.3
138  6.0  3.0  4.8  1.8

In [34]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=40)

In [35]:
rf.fit(X_train,y_train)

RandomForestClassifier(n_estimators=40)

In [36]:
rf.score(X_test,y_test)

1.0